<!-- Order page -->
<div class="container-fluid order-bl">
    <div class="w970">
        <!-- Gallery -->
        <div class="order-gallery pull-left">

            <div id="carousel-products" class="carousel slide" data-ride="carousel">
                <!-- Indicators
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                -->

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">

                    <div class="item active">
                        <img src="/images/products/gallery/1_01.jpg" alt="Жалюзи">
                        <div class="carousel-caption">
                            <!-- Описание фото -->
                        </div>
                    </div>
                    <div class="item">
                        <img src="/images/products/gallery/1_02.jpg" alt="Жалюзи"">
                        <div class="carousel-caption">
                            <!-- Описание фото -->

                        </div>
                    </div>
                    <div class="item">
                        <img src="/images/products/gallery/1_03.jpg" alt="Жалюзи">
                        <div class="carousel-caption">
                            <!-- Описание фото -->

                        </div>
                    </div>


                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-products" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-products" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>
        <!-- Gallery end -->

        <!-- Short Text Bl -->
        <div class="order-txt-bl pull-left">
            <h3 class="text-center"><?=$data['page']['title']?></h3>
            <p class="order-short-txt">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                <br><br>
                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
            </p>
            <form class="order-form" action="">
                <p class="title">ОФОРМИТЬ ЗАКАЗ:</p>
                <hr class="center-block">
                <label for="name-inp">Имя:</label>
                <input type="text" class="" id="name-inp" placeholder="Имя" required /><br>
                <label for="phone-inp" class="">Телефон:</label>
                <input type="phone" class="" id="phone-inp" placeholder="Телефон" required />
                <button type="submit" class="">Заказать просчет!</button>
            </form>
        </div>
        <!-- Short Text Bl end -->

        <div class="clr"></div>

        <!-- -->
        <div class="order-main-txt">
            <h3>Описание данного продукта</h3>
            <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
            </p>
            <p class="title">Характеристики:</p>
            <ul>
                <li>Slat: 50mm x .21mm (High tensile aluminium)</li>
                <li>Headrail: 50mm x 57mm (Powdercoated Steel)</li>
                <li>Maximum Width: 3600mm</li>
                <li>Minimum width: 470mm</li>
                <li>Maximum Drop: 2500mm</li>
                <li>Supplied: All installation brackets and fixing screws supplied</li>
                <li>Warranty: 12 mnth</li>
            </ul>
            <br>
            <p class="title">Доступные цвета:</p>
            <ul class="products-colors">
                <li><img src=""><p class="type-name">Белый шелк</p></li>
                <li><img src=""><p class="type-name">Асфальт</p></li>
                <li><img src=""><p class="type-name">Синий</p></li>
                <li><img src=""><p class="type-name">Голубой</p></li>
                <li><img src=""><p class="type-name">Желтый</p></li>
                <li><img src=""><p class="type-name">Красный</p></li>
                <li><img src=""><p class="type-name">Бирюза</p></li>
                <li><img src=""><p class="type-name">Морская волна</p></li>
                <li><img src=""><p class="type-name">Небесное сияние</p></li>
                <li><img src=""><p class="type-name">Оранжевый</p></li>

            </ul>

            <p class="title">Варианты систем:</p>
            <ul class="products-colors products-type">
                <li><img src="/images/products/gallery/1_01.jpg"><p class="type-name">Система 25 мм Standart</p></li>
                <li><img src="/images/products/gallery/1_02.jpg"><p class="type-name">Система 16 мм Mini</p></li>
                <li><img src="/images/products/gallery/1_03.jpg"><p class="type-name">Система 50 мм</p></li>
                <li><img src=""><p class="type-name">Система 18 мм</p></li>
                <li><img src=""><p class="type-name">Система 25 мм Standart</p></li>
                <li><img src=""><p class="type-name">Система 16 мм Mini</p></li>
                <li><img src=""><p class="type-name">Система 50 мм</p></li>
                <li><img src=""><p class="type-name">Система 18 мм</p></li>
                <li><img src=""><p class="type-name">Система 25 мм Standart</p></li>
                <li><img src=""><p class="type-name">Система 16 мм Mini</p></li>
            </ul>
        </div>
    </div>
</div>
<!-- Order page end -->

<!-- Reviews -->
<div class="container-fluid section-8">
    <div class="w970">
        <br>
        <h2 class="white text-center">Отзывы наших клиентов:</h2>
        <br>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="otz-bl">
                        <div class="pull-left">
                            <p class="title otz-img otz-01">
                                Владимир Козлов <br>
                                <span class="date">21.04.2013</span>
                            </p>
                            <p class="txt">
                                В салоне понятие качества сопровождается во всем: в изделиях,
                                установке, гарантии и самое главное в общении с клиентом.
                                Уже не раз обращался в салон и подсаживаю всех знакомых.
                                Это сервис к которому необходимо стремится многим!
                                <br><br>
                                <span class="btn-link">https://www.facebook.com/vladimir.kozlov.313</span>
                            </p>
                        </div>
                        <!-- -->
                        <div class="pull-right">
                            <p class="title otz-img otz-02">
                                Светлана Онищук <br>
                                <span class="date">12.05.2015</span>
                            </p>
                            <p class="txt">
                                К Вам в Салон порекомендовали обратится друзья. Мы даже не искали кого-то другого,
                                просто позвонили и договорились за замер. Оперативно приехали, выбрали, все красиво
                                установили. В общем - хороший сервис за умеренные деньги! Спасибо!
                                <br><br>
                                <span class="btn-link">http://vk.com/id9845337</span>
                            </p>
                        </div>
                    </div>
                    <div class="carousel-caption">
                    </div>
                </div>
                <div class="item">
                    <div class="otz-bl">
                        <div class="pull-left">
                            <p class="title otz-img otz-03">
                                Кирилл Кулаков <br>
                                <span class="date">11.07.2014</span>
                            </p>
                            <p class="txt">
                                Анюта, спасибо тебе за красоту!) Мне нравится с тобой работать - вертикалку в офис
                                повесить - не проблема - 2 дня и готово! Тканевые ролетики домой - тоже не вопрос!)
                                Так держать!)
                                <br><br>
                                <span class="btn-link">https://www.facebook.com/profkurs</span>
                            </p>
                        </div>
                        <!-- -->
                        <div class="pull-right">
                            <p class="title otz-img otz-04">
                                Алевтина <br>
                                <span class="date">03.06.2015</span>
                            </p>
                            <p class="txt">
                                Долго искали защиту от солнца и тепла в детскую. После консультации в Салоне
                                остановили свой выбор на тканевых ролетах с особой тканью Термо Блокер.
                                <br><br>
                                Теперь у нашего ребенка в комнате комфортная температура и тень, кондиционер не нужен!
                                С закрытыми ролетами даже в самый солнцепек в комнате прохладно.
                                Очень хорошее
                                решение проблемы!
                                <br><br>
                                <span class="btn-link">Отзыв прислали на почту</span>
                            </p>
                        </div>
                    </div>
                    <div class="carousel-caption">
                    </div>
                </div>
                <!-- -->
                <div class="item">
                    <div class="otz-bl">
                        <div class="pull-left">
                            <p class="title otz-img otz-05">
                                Diana Ivashkovska <br>
                                <span class="date">07.07.2015</span>
                            </p>
                            <p class="txt">
                                Всем доброго времени суток! Не могла не удержаться, чтобы оставить коммент по
                                поводу работы "Салона"... Заказывала жалюзи. Ребята большие молодцы! Помогли с
                                выбором, сделали замеры, установили все в оговоренные сроки. Соотношение
                                цена/качество - оптимальное. <br><br>
                                Уровень обслуживания - прекрасный.
                                К каждому заказу подходят индивидуально, клиент - на первом месте,
                                чувствуется должное внимание. Отдельное спасибо монтажнику Виталию и
                                менеджеру, который координировал его работу. Ребята большие умнички! Советую всем!
                                <br><br>
                                <span class="btn-link">https://www.facebook.com/diana.ivashkovska</span>
                            </p>
                        </div>
                        <!-- -->
                        <div class="pull-right">
                            <p class="title otz-img otz-06">
                                Дмитрий Першаков<br>
                                <span class="date">15.08.2015</span>
                            </p>
                            <p class="txt">
                                Спасибо менеджеру за помощь в идеях оформления! Изначально очень тяжело было
                                определится с вариантом, но после 5 минут общения я понял - хочу только День-Ночь!
                                Получилось очень стильно и оригинально!
                                <br><br>
                                <span class="btn-link">http://vk.com/dpershakov</span>
                            </p>
                        </div>
                    </div>
                    <div class="carousel-caption">
                    </div>
                </div>
                <!-- -->
                <div class="item">
                    <div class="otz-bl">
                        <div class="pull-left">
                            <p class="title otz-img otz-07">
                                Геннадий Гоменюк <br>
                                <span class="date">18.07.2015</span>
                            </p>
                            <p class="txt">
                                Хотел сделать супруге подарок к окончанию ремонта - выбрать тканевые ролеты. Выбирали,
                                наверное, всем коллективом Салона минут 20.
                                Результат получился отличным - жене все понравилось. <br><br>
                                Плюс, очень хорошо все вписалось
                                в интерьер. Уже когда мастер приехал устанавливать тканевые ролеты, мы вспомнили,
                                что хотели антимоскитные сетки. Сделали за 1 день, я просто приехал и забрал.
                                Команда Салона - спасибо!
                                <br><br>
                                <span class="btn-link">https://www.facebook.com/gennady.gomenyuk.9</span>
                            </p>
                        </div>
                        <!-- -->
                        <!-- -->
                        <div class="pull-right">
                            <p class="title otz-img otz-08">
                                Ириска Подуст <br>
                                <span class="date">01.09.2015</span>
                            </p>
                            <p class="txt">
                                Получила большое удовольствие от заказа тканевых ролет. Все, начиная от милой улыбки
                                менеджера салона до конечного результата, приятно удивило. <br><br>
                                Понравился большой выбор
                                красивых тканей и видов тканевых ролет, менеджер салона помог определится с выбором
                                среди всего разнообразия. Оформили заказ. Все сделали оперативно и качественно. Теперь
                                любуюсь дома красотой и без проблем спасаюсь от палящего в окна солнца.
                                <br><br>
                                <span class="btn-link">http://vk.com/id27376094</span>
                            </p>
                        </div>
                        <!-- -->
                    </div>
                    <div class="carousel-caption">
                    </div>
                </div>
            </div>
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            </ol>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <a href="contacts.html"><button class="btn btn-otz center-block">Посетить шоурум в Киеве <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></button></a>
    </div>
</div>
<!-- Reviews end-->