<h3>Pages</h3><br/>
<table class="table table-striped" style="width: 400px;">
<?php foreach($data['products'] as $products_data) { ?>
    <tr>
        <td><b><?=$products_data['title']?></b></td>
        <td align="right">
            <a href="/admin/products/edit/<?=$products_data['id']?>"><button class="btn btn-sm btn-primary">edit</button></a>
            <a href="/admin/products/delete/<?=$products_data['id']?>" onclick="return confirmDelete();"><button class="btn btn-sm btn-warning">delete</button></a>
        </td>
    </tr>
<?php } ?>
</table>

<br/>

<div>
    <a href="/admin/products/add/"><button class="btn btn-sm btn-success">Добавить товар</button></a>
</div>